<div class="titles">
    <h1>Modelos e Preços</h1>
    <h3>FILTRO</h3>
    <button>Plug-in Híbrido</button>
    <button>Elétrico</button>
    <h4><strong>{{veicles}} </strong> Veículos encontrados</h4>
</div>

<div class="Bar">
    <a href="#BMWi">BMW i</a>
    <a href="#">X</a>
    <a href="#">M</a>
    <a href="#">5</a>
    <a href="#">4</a>
    <a href="#">3</a>
    <a href="#">2</a>
    <a href="#">1</a>
    <a href="#">Plug-in Híbrido</a>
    <a href="#">BMW Protection</a>
    <a href="#">Concept Cars</a>
</div>

<h2 class="titulo">BMW i</h2>

<div id="BMWi">
    <div class="BMWiX1">
        <img class="M60" src="https://carvo.ch/assets/images/models/md-373/original/bmw-ix1-xdrive30-cWLUwG3ISC.png">
        <h3>BMW iX1</h3>
        <h4>ELÉTRICO</h4>
        <h5>A partir de R$ 421.950 à vista*.</h5>
    </div>
    <div class="M60">
        <img src="https://images.carprices.com/pricebooks_data/usa/colorized/2024/BMW/View2/iX/M60/24IJ_300.png">
        <h3>BMW iX M60</h3>
        <h4>ELÉTRICO</h4>
        <h5>A partir de R$ 1.101.950 à vista*.</h5>
    </div>
</div>
