
<div class="vision">
    <h6>THE NEW</h6>
    <h1>BMW VISION NEUE KLASSE.</h1>
    <h2>A NOVA ERA DE MOBILIDADE.</h2>
    <button class="seeMore">Saiba Mais</button>
  </div>
  <div class="Img">
    <img src="https://bmw.scene7.com/is/image/BMW/bmw_neue-klasse_home-stage_teaser:16to9?fmt=webp&wid=2560&hei=1444" alt="BMW VISION NEUE KLASSE">
  </div>
  <div class="second">
    <h3>PROCURE E COMPRE</h3>
    <h1>ENCONTRE O SEU BMW.</h1>

    <div class="icon">
      <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_STOCK_CAR?wid=1504&hei=542"> 
      <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_USED_CAR?wid=1504&hei=542">
      <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_CON?wid=1504&hei=542">
    </div>
    <div class="names">
      <p class="n1">Encontre um 0 KM</p>
      <p class="n2">Encontre um seminovo</p>
      <p class="n3">Configure o seu</p>
    </div>

    <div class="Buttons">
      <button class="search">Pesquisar</button>
      <button class="search1">Pesquisar</button>
      <button class="config">Configuração e Preço</button>
    </div>
  </div>
  <div class="bmw320i">
    <div class="background">
      <a href="https://www.bmw.com.br/pt/topics/fascination-bmw/condicoes-especiais.html"><h1 class="taxa">BMW 320i com taxa 0% a.m.*</h1></a>
      <p>*Consulte condições</p>
    </div>
    <button class="lookMore">Saiba Mais</button>
  </div>

  <h1 class="protection">BMW PROTECTION</h1>
  <button class="lookMore2">Saiba Mais</button>
  <h3 class="blindagem">Blindagem com padrão de qualidade BMW.</h3>
  <div class="background2">
    <img src="https://www.bmw.com.br/pt/index/_jcr_content/root/maincontent/contentblueprint/contentblue_copy/backgroundmedia/image.coreimg.jpeg/1694067810073/x5-protection-v2.jpeg">
  </div>